body {
  font-family : 'Roboto', sans-serif;
  font-size   : 13px;
  line-height : 24px;
  color       : #969595;
  font-weight : 400;
  background: #fff;
  }

/* --------------------------------------
Global Typography
------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  margin      : 0 0 15px;
  color       : #313131;
  font-weight : 400;
  }

h1 {
  font-size   : 30px;
  line-height : 24px;
  }

h2 {
  font-size   : 24px;
  line-height : 24px;
  }

h3 {
  font-size   : 20px;
  line-height : 24px;
  }

h4 {
  font-size   : 18px;
  line-height : 24px;
  }

h5 {
  font-size   : 16px;
  line-height : 24px;
  font-weight : 600;
  }

h6 {
  font-size   : 14px;
  line-height : 24px;
  }

/* --------------------------------------
LINK STYLE
------------------------------------------*/
a {
  color              : #31aae2;
  text-decoration    : none;
  -webkit-transition : all 0.3s ease 0s;
  -moz-transition    : all 0.3s ease 0s;
  -o-transition      : all 0.3s ease 0s;
  transition         : all 0.3s ease 0s;
  }

a,
a:active,
a:focus,
a:active {
  text-decoration : none;
  outline         : none
  }

a:hover,
a:focus {
  text-decoration : none;
  }


ul {
  margin     : 0;
  padding    : 0;
  list-style : none;
  }


/* --------------------
 Section Background
 -------------------*/

.gray-bg {
  background-color : #f9f9f9;
  }

.white-bg {
  background-color : #fff;
  }


/* --------------------
 main Wrapper
 -------------------*/
#main-wrapper{
  background: #fff;
  }